.movie-detail {
    padding: 30px;
}

.movie-detail .card-title{
    font-weight: 700;
    font-size: 30px;
}

.movie-detail-overview {
    padding: 0;
}

.svg-favorite-detail {
    position: relative;
    top: 37em;
    right: 25em;
}
