.movie-list {
    border: 0.5px solid black;
    height: 31em;
}
.movie-list-info {
    padding: 20px;
}

.movie-list-info .card-title{
    font-weight: 700;
}

.movie-list-overview {
    padding: 0 !important;
}

.movie-list-link a {
    color: #fff !important;
    background-color: black;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize !important;
}

.movie-list-link a:hover {
    color: #000!important;
    background: transparent;
    padding: 19px;
    border: 0.5px solid black;
}

.svg-favorite-list {
    position: relative;
    top: 22em;
    right: 15em;
}

